:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--Grey900);
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
    padding: 60px 0;
}
.container {
    background-color: var(--Grey800);
    width: 30%;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: var(--White);
}
@media (max-width: 1100px) {
    .container {
        width: 45%;
    }
}
@media (max-width: 710px) {
    .container {
        width: 60%;
    }
}
@media (max-width: 530px) {
    .container {
        width: 80%;
    }
}
@media (max-width: 390px) {
    .container {
        width: 95%;
    }
}
p, li {
    font-size: 14px;
}
img {
    border-radius: 50%;
    width: 23%;
}
h2 {
    padding: 25px 0 15px;
}
p.green {
    color: var(--Green);
    font-weight: 900;
}
p.title {
    padding: 25px 0;
}
ul li {
    list-style-type: none;
    color: var(--White);
    background-color: var(--Grey700);
    padding: 15px;
    margin: 18px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
li:hover {
    background-color: var(--Green);
    cursor: url(assets/images/pointer-cursor.png), auto;
    color: black;
}


hr {
    background-color: var(--Grey700);
    height: 1px;
    margin-bottom: 5px;
    border: none;
}
.attribution {
    font-size: 11px;
    letter-spacing: 1px;
}
.attribution a {
    color: var(--Green);
    text-decoration: none;
}

